/* *{
    max-width: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
} */
body{
    width: 100vw;
    height: 100vh;
    background-color: burlywood;
    display: flex;
    justify-content: center;
    align-items: center;
}
html{
    font-size: 25px;
}
table{
    border:6px solid rgb(0, 255, 60);
    box-shadow: 6px 3px 10px deeppink;
    border-radius: 5px;
}

tr{
    border:6px solid rgb(115, 0, 255);
    box-shadow: 6px 3px 10px rgb(24, 20, 255);
}
td{
    border:6px solid rgb(251, 0, 255);
    box-shadow: 6px 3px 10px rgb(9, 212, 134);
}
th{
    border:6px dashed rgb(112, 99, 212);
    box-shadow: 6px 3px 10px rgb(213, 87, 9);
}

div{
    margin: 10px;
    padding: 10px;
    background-color: rgb(182, 80, 255);
    border: 6px solid salmon;
    width: 50%;
    position: sticky;
    box-shadow: 6px 3px 10px rgb(232, 164, 6);

}
div:hover{
    background-color: rgb(210, 225, 8);
    font-style: italic;
}
#main{
    margin: 10px auto;
    padding: 10px;
    background-color: rgb(33, 211, 13);
    border: 6px double rgb(180, 12, 169);
    width: 50%;
    position: sticky;
    box-shadow: -16px -16px 16px deeppink;
    text-shadow:10px 10px 10px rgb(25, 0, 255);
    text-align: center;
    

}

#tr1:hover{
    /* zoom: 90%; */
    background-color: rgb(80, 226, 43);

}
.tr2:hover{
    background-color: brown;

}
td:hover{
    background-color: darkorange;
}
