<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/taja.css">
    <link rel="shortcut icon" href="../static/image/3.png" type="image/x-icon">
    <title>Frompy</title>
</head>
<body bgcolor="yellow" >



    <center>
  
        <h1>{{d}}</h1><br>
        <h1><img src="{{user_image.url}}" alt="Oh No Bro"></h1>
        
        
        <h1>{{name}}</h1><br>
        <h1>{{father_name}}</h1><br>
        <h1>{{age}}</h1><br>
        <h1>{{password}}</h1><br>
        <h1>{{email}}</h1><br>
        <h1>{{gender}}</h1><br>
        <h1>{{about_you}}</h1><br>
        <h1>{{DOB}}</h1><br>
      
      </center>
    
</body>
</html>





