<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>fullview</title>
</head>
<body>
    


    <button><a href="../User_Data.json">json</a></button>

    
                <center>
                    <h1>{{d}}</h1>
                </center><br>
                <center>
                    <h1>{{name}}</h1>
                </center><br>
               
                <center>
                    <h1>{{email}}</h1>
                </center><br>
              
                <center>
                    <h1>{{password}}</h1>
                </center><br>
           
                <center>
                    <h1>{{age}}</h1>
                </center><br>
          
        
     

    
</body>
</html>