<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/taja.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="shortcut icon" href="../static/image/3.png" type="image/x-icon">
    <title>Index</title>
</head>
<body>

    <center>
        <!-- 
            'name': name,
            'father_name': father_name,
            'age': age,
            'howmany': howmany,
            'cardnumber': cardnumber,
            'password': password,
            'email'email,       'gender': gender,
            'about_you': about_you,
            'user_image': user_image,
            'DOB': DOB,
         -->
<script>
    let table        = <table></table>;
    let name         = <td>{{name}}</td>;
    let father_name  = <td>{{father_name}}</td>;
    let age          = <td>{{age}}</td>;
    let cardnumber   = <td>{{cardnumber}}</td>;
    let password     = <td>{{password}}</td>;
    let email        = <td>{{email}}</td>;
    let gender       = <td>{{gender}}</td>;
    let about_you    = <td>{{about_you}}</td>;
    let user_image   = <td>{{user_image}}</td>;
    let DOB          = <td>{{DOB}}</td>;
     
</script>

<center>
    <h1>
        {{d}}
    </h1>
</center>
        <table>
            <tr id="tr1" >                    
                <th>name</th>
                <th>father_name</th>
                <th>age</th>
                <th>cardnumber</th>
                <th>password</th>
                <th>email<h>
                <th>gender</th>
                <th>about_you</th>
                <th>user_image</th>
                <th>DOB</th>
            </tr>
    
            
            <tr class="tr2">
                <td>{{name}}</td>
                <td>{{father_name}}</td>
                <td>{{age}}</td>
                <td>{{cardnumber}}</td>
                <td>{{password}}</td>
                <td>{{email}}</td>
                <td>{{gender}}</td>
                <td>{{about_you}}</td>
                <td>{{user_image}}</td>
                <td>{{DOB}}</td>
            </tr>
            <tr class="tr2">
                <td>{{name}}</td>
                <td>{{father_name}}</td>
                <td>{{age}}</td>
                <td>{{cardnumber}}</td>
                <td>{{password}}</td>
                <td>{{email}}</td>
                <td>{{gender}}</td>
                <td>{{about_you}}</td>
                <td>{{user_image}}</td>
                <td>{{DOB}}</td>
            </tr>
            <tr class="tr2">
                <td>{{name}}</td>
                <td>{{father_name}}</td>
                <td>{{age}}</td>
                <td>{{cardnumber}}</td>
                <td>{{password}}</td>
                <td>{{email}}</td>
                <td>{{gender}}</td>
                <td>{{about_you}}</td>
                <td>{{user_image}}</td>
                <td>{{DOB}}</td>
            </tr>
            <tr class="tr2">
                <td>{{name}}</td>
                <td>{{father_name}}</td>
                <td>{{age}}</td>
                <td>{{cardnumber}}</td>
                <td>{{password}}</td>
                <td>{{email}}</td>
                <td>{{gender}}</td>
                <td>{{about_you}}</td>
                <td>{{user_image}}</td>
                <td>{{DOB}}</td>
            </tr>
            <tr class="tr2">
                <td>{{name}}</td>
                <td>{{father_name}}</td>
                <td>{{age}}</td>
                <td>{{cardnumber}}</td>
                <td>{{password}}</td>
                <td>{{email}}</td>
                <td>{{gender}}</td>
                <td>{{about_you}}</td>
                <td>{{user_image}}</td>
                <td>{{DOB}}</td>
            </tr>
            <tr class="tr2">
                <td>{{name}}</td>
                <td>{{father_name}}</td>
                <td>{{age}}</td>
                <td>{{cardnumber}}</td>
                <td>{{password}}</td>
                <td>{{email}}</td>
                <td>{{gender}}</td>
                <td>{{about_you}}</td>
                <td>{{user_image}}</td>
                <td>{{DOB}}</td>
            </tr>
        </table>
    </center>
    
    
    <button> <a href="/fullview">show all previous record </a> </button>

    
</body>
</html>





